<section>
  <p>
    <img src="/images/derek_headshot.jpg" class="img-responsive img-rounded" width="260" height="260" alt="Derek Barber">
  </p>
  <p class="small">My name is Derek Barber and I am software developer and
    musician based in the Vancouver, Canada area. My current area of focus is
    on building web and mobile applications and I work primarily with Ruby,
    Rails, JavaScript, React, Swift and related technologies. You can find me on
    Twitter <a href="https://twitter.com/derekjbarber" target="_blank">@derekjbarber</a></p>
</section>
